body {
  background-image: url(pastel.png);
  background-repeat: no-repeat;
  background-size: cover;

}

.carousel {
  max-height: 30rem;
}

.carousel-item img {
  max-height: 30rem;
  object-fit: cover;
}


.bg-pink {
  background-color: #ff9eb5;
}

.bg-pink a {
  color: #ff69b4;
}

.bg-pink p,
.bg-pink small,
.bg-pink address {
  color: #fff;
}

.card-body {
  background-color: #ff9eb5;

}



.card{
  transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow:  0.3rem 0.3rem 0.3rem rgba(255,158,181,0.7);
}